<h1> <%= @flat.name %></h1>
<h1> <%= @flat.address %></h1>
<p><%= @flat.description %></p>
<h2> <%= @flat.number_of_guests %></h2>
<h2> <%= @flat.price_per_night %></h2>

<%= link_to "Return to list", flats_path %>
